<!--Saved articles go here-->
{{#each articles}}
    <div class="card mt-5">
        <div class="card-body bg-success">
            <h5 class="card-title article-title">{{this.title}}</h5>
            <p class="card-text article-summary">{{this.summary}}</p>
            <img class="img-fluid article-img" src="{{this.img}}">
            <br>
            <a href='{{this.link}}' target="_blank"><button class="btn btn-primary btn-dark mt-4">Continue reading</button></a>
            <button class="btn btn-primary btn-dark ml-3 mt-4 remove-saved-btn" data-id="{{this._id}}">Remove from saved</button></a>
            <button class="btn btn-dark ml-3 mt-4 add-notes-btn" data-id="{{this._id}}">Leave a comment</button>
        </div>
    </div>
{{/each}}